{%extends "layout.html" %}
{%block body %}
  
  <!-- Page Header -->                                             
  <header class="masthead" style="background-image: url('/static/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About ICULUX</h1>
            <span class="subheading">This is what it does.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Monitoring ICU data is becoming an important task as , detecting and tracking the change in data pattern and prediction of change in state of the patient
           in the near future. By this we not only meticulously monitor patients but also can keep track of changes in patients' physical state.
            We also have to analyse past values and predict the future values and state through a probabilistic model.</p>
        <p>ICULUX is an ICU Monitoring System that is used to monitor the vital signs of a patient. It monitors their temperature,
          blood pressure, oxygen content, heart rate, etc. This system also keeps track of the changes
          happening in the vital signs of a patient. This system is designed to predict the nature of the
          change of the vital signs of the patient whether the patient is normal, abnormal or at risk. The
          system also would predict when the next change will occur in the vital signs of the patient.</p>
        <p>ICULUX would also notify the doctor of a patient whenever the patient is at risk
          level.</p>
      </div>
    </div>
  </div>

  {% endblock %}