{%extends "layout.html" %}
</head>
<body>
{%block body %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/data.css') }}"/>
	<header class="masthead" style="background-image: url('static/img/heartbeat.gif');">
    <div class="overlay"></div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>ICUlux</h1>
            <span class="subheading">Patient Monitor</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script>
    var eventSource = new EventSource("/data_stream")
    
    eventSource.addEventListener("message", function(e) {
      console.log(e.data)
    }, false)
    var name = ""
    eventSource.addEventListener("online", function(e) {
      // console.log(e.data.color)
      data = JSON.parse(e.data)
      name = String(data.name)
      name = '#' + name
      
      var element = document.querySelector(name)
      element.querySelector(".val1").innerText = data.val1
      element.querySelector(".condition").innerText = String(data.condition)
      if(data.message != undefined && data.message != null)
      {
        element.querySelector(".message").innerText = data.message
      }
      else{
        element.querySelector(".message").innerText = ""
      }

      if(data.change != undefined && data.change != null)
      {
        element.querySelector(".change").innerText = data.change
      }
      else{
        element.querySelector(".change").innerText = data.change
      }
      
      
      if(data.val2 != undefined && data.val2 != null)
      {
        element.querySelector(".val2").innerText = data.val2
      }
      else(data.val3 != undefined && data.val3 != null)
      {
        element.querySelector(".val3").innerText = data.val3
      }
    }, true)
</script>
<h3>Patient Information</h3>
  <table name="patient_data" style="width: 100%;">
    {% for row in data %}
    <tbody>
        <tr>
            <th class="text">Patient ID:</th>
            <td class="numeric">{{row[0]}}</td>
        </tr>  
        <tr>
            <th class="text">Name:</th>
            <td class="numeric">{{row[1]}}</td>
        </tr>
        <tr>
            <th class="text">Age:</th>
            <td class="numeric">{{row[2]}}</td>
        </tr>
        <tr>
            <th class="text">Gender:</th>
            <td class="numeric">{{row[3]}}</td>
        </tr>
        <tr>
            <th class="text">Disease:</th>
            <td class="numeric">{{row[5]}}</td>
        </tr>
        <tr>
            <th class="text">Date of Arrival:</th>
            <td class="numeric">{{row[4]}}</td>
        </tr>
      </tbody>
    {% endfor %}
  </table>

  <a href="/data_stream"><button name="start" id="start">Start</button></a>

  
  <div id="RESP">
  <h3>Respiratory Rate</h3>
  
    <div class="value">
      <span class="val1"></span><br>
    </div>
    <span>Current Nature: </span>
    <span class="condition"></span><br>
    <span class="message"></span><br>
    <span>Nature of Change: </span>
    <span class="change"></span>
  </div>
  <div id="CBP">
  <h3>CBP</h3>

  <div class="systolic">
    <span>Systolic: </span>
    <span class="val2"></span><span style="font-size: 10px;">mmHg</span>
  </div>
  <div class="mean">
  <span>Mean: </span>
    <span class="val3"></span><span style="font-size: 10px;">mmHg</span>
  </div>
  <div class="diastolic">
  <span>Diastolic: </span>
    <span class="val1"></span><span style="font-size: 10px;">mmHg</span>
  </div>
    <span>Current Nature: </span>
    <span class="condition"></span><br>
    <span class="message"></span><br>
    <span>Nature of Change: </span>
    <span class="change"></span>
  </div>
  <div id="ABP">
    <h3>Arterial Blood Pressure</h3>
  <div class="systolic">
    <span>Systolic: </span>
    <span class="val2"></span><span style="font-size: 10px;">mmHg</span>
  </div>
  <div class="mean">
  <span>Mean: </span>
    <span class="val3"></span><span style="font-size: 10px;">mmHg</span>
  </div>
  <div class="diastolic">
  <span>Diastolic: </span>
    <span class="val1"></span><span style="font-size: 10px;">mmHg</span>
  </div>
      <span>Current Nature: </span>
      <span class="condition"></span><br>
      <span class="message"></span><br>
      <span>Nature of Change: </span>
    <span class="change"></span>
  </div>
  <div id="NBP">
      <h3>Non-Invasive Blood Pressure</h3>
    
      <div class="systolic">
        <span>Systolic: </span>
        <span class="val2"></span><span style="font-size: 10px;">mmHg</span>
      </div>
      <div class="mean">
      <span>Mean: </span>
        <span class="val3"></span><span style="font-size: 10px;">mmHg</span>
      </div>
      <div class="diastolic">
      <span>Diastolic: </span>
        <span class="val1"></span><span style="font-size: 10px;">mmHg</span>
      </div>
        <span>Current Nature: </span>
        <span class="condition"></span><br>
        <span class="message"></span><br>
        <span>Nature of Change: </span>
        <span class="change"></span>
  </div>
  <div id="SpO2">
    <h3>SpO2</h3>
  
    <div class="value">
      <span class="val1"></span><span style="font-size: 10px;">&#37;</span><br>
    </div>
    <span>Current Nature: </span>
    <span class="condition"></span><br>
    <span class="message"></span><br>
    <span>Nature of Change: </span>
    <span class="change"></span>
  </div>
  <div id="HR">
    <h3>Heart Rate</h3>

    <div class="value">
      <span class="val1"></span><span style="font-size: 10px;">bpm</span><br>
    </div>
    <span>Current Nature: </span>
    <span class="condition"></span><br>
    <span class="message"></span><br>
    <span>Nature of Change: </span>
    <span class="change"></span>
  </div>
  <div id="PULSE">
    <h3>Pulse</h3>
  
    <div class="value">
      <span class="val1"></span><span style="font-size: 10px;">bpm</span><br>
    </div>
    <span>Current Nature: </span>
    <span class="condition"></span><br>
    <span class="message"></span><br>
    <span>Nature of Change: </span>
    <span class="change"></span>
  </div>
  <div id="CO">
    <h3>Cardiac Output</h3>
  
    <div class="value">
      <span class="val1"></span><br>
    </div>
    <span>Current Nature: </span>
    <span class="condition"></span><br>
    <span class="message"></span><br>
    <span>Nature of Change: </span>
    <span class="change"></span>
    </div>
  <h3 id="TBlood">Blood Temperature</h3>
  <div id="PAP">
  <h3>Pulmonary Artery Pressure</h3>
  
    <div class="systolic">
      <span>Systolic: </span>
      <span class="val2"></span><span style="font-size: 10px;">mmHg</span>
    </div>
    <div class="mean">
    <span>Mean: </span>
      <span class="val3"></span><span style="font-size: 10px;">mmHg</span>
    </div>
    <div class="diastolic">
    <span>Diastolic: </span>
      <span class="val1"></span><span style="font-size: 10px;">mmHg</span>
    </div>
    <span class="condition"></span><br>
    <span class="message"></span><br>
    <span>Nature of Change: </span>
    <span class="change"></span>
  </div>
  <div id="LAP">
  <h3>LAP</h3>
 
    <div class="value">
      <span class="val1"></span><span style="font-size: 10px;">mmHg</span><br>
    </div>
    <span>Current Nature: </span>
    <span class="condition"></span><br>
    <span class="message"></span><br>
    <span>Nature of Change: </span>
    <span class="change"></span>
  </div>
  <div id="CVP">
    <h3>Central Venous Pressure</h3>
  
    <div class="value">
      <span class="val1"></span><span style="font-size: 10px;">mmHg</span><br>
    </div>
    <span>Current Nature: </span>
    <span class="condition"></span><br>
    <span class="message"></span><br>
    <span>Nature of Change: </span>
    <span class="change"></span>
  </div>
  <div id="EtCO2">
  <h3>End Tidal CO2</h3>
  
    <div class="value">
      <span class="val1"></span><br>
    </div>
    <span>Current Nature: </span>
    <span class="condition"></span><br>
    <span class="message"></span><br>
    <span>Nature of Change: </span>
    <span class="change"></span>
  </div> 
  <div id="AWRR">
    <h3>Airway Respiratory Rate</h3>
  
    <div class="value">
      <span class="val1"></span><br>
    </div>
    <span>Current Nature: </span>
    <span class="condition"></span><br>
    <span class="message"></span><br>
    <span>Nature of Change: </span>
    <span class="change"></span>
  </div>
  <div id="PAWP">
    <h3>Pulmonary Artery Wedge Pressure</h3>
  
    <div class="value">
      <span class="val1"></span><br>
    </div>
    <span>Current Nature: </span>
    <span class="condition"></span><br>
    <span class="message"></span><br>
    <span>Nature of Change: </span>
    <span class="change"></span>>
  </div>
  <h3 id="IMCO2">Inspired Minimum CO2</h3>
  <h3 id="ART">ART</h3>
  <h3 id="ART1">ART1</h3>
  <h3 id="ST1">ST1</h3>
  <h3 id="ST2">ST2</h3>
  <h3 id="ST3">ST3</h3>
  <h3 id="P4">P4</h3>
  <h3 id="Unlicensed assistive personnel">UAP</h3>

 

</div>
  {% endblock %}
