{%extends "layout.html" %}


<body>
{%block body %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='findpatient.css') }}"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
	<header class="masthead" style="background-image: url('static/img/heartbeat.gif');">
    <div class="overlay"></div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>ICUlux</h1>
            <span class="subheading">Find Patient</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  
  <form class= "searchpatient" action="{{ url_for('find_patient')}}" method="POST" >
    <div class="searchBox">

      <input class="searchInput"type="text" name="pid" id="pid" placeholder="Enter Patient ID">
      <button class="submitbutton" type="submit" >
        <span class="material-icons">
          search
        </span>
      </button>
  </div>
</form>

  
    
	{% endblock %}
</body>
		

