{%extends "layout.html" %}


<body>
{%block body %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/findpatient.css') }}"/>

	<header class="masthead" style="background-image: url('static/img/heartbeat.gif');">
    <div class="overlay"></div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>ICUlux</h1>
            <span class="subheading">Find Patient</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <script>
    function searchToggle(obj, evt){
    var container = $(obj).closest('.search-wrapper');
        if(!container.hasClass('active')){
            container.addClass('active');
            evt.preventDefault();
        }
        else if(container.hasClass('active') && $(obj).closest('.input-holder').length == 0){
            container.removeClass('active');
            // clear input
            container.find('.search-input').val('');
        }
}
  </script>
  
  
  <form class= "searchpatient" action="{{ url_for('find_patient')}}" method="POST" >
    <table name="Doctor_data">
      {% for row in data %}
          <tr>
              <th>Doctor ID:</th>
              <td>{{row[2]}}</td>
          </tr>  
          <tr>
              <th>Name:</th>
              <td>{{row[0]}}</td>
          </tr>
          <tr>
              <th>Age:</th>
              <td>{{row[1]}}</td>
          </tr>
          <tr>
              <th>Email:</th>
              <td>{{row[3]}}</td>
          </tr>
          <tr>
              <th>Specialization:</th>
              <td>{{row[5]}}</td>
          </tr>
      {% endfor %}
    </table>
    <div class="search-wrapper">
      <div class="input-holder">
          <input type="text" class="search-input" name="pid" id='pid' placeholder="Enter Patient ID" required />
          <button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
          
      </div>
      <span class="close" onclick="searchToggle(this, event);"></span>
      <div class="error">{{msg}}</div>
  </div>
  

    
   
</form>
	{% endblock %}
  

</body>
		